
form.new_user, form.edit_user, .cancel_time{
  @include outer-container;
  width: 50%;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}

// form ~ a{
//   display: none;
// }

h2 {
  text-align: center;
  margin-top: 1em;
}
.field > .sign-up{
  @include outer-container;
  max-width: 40%;
  text-align: center;
  margin-top: 1.5em;
}

.link-container{
  @include outer-container;
  text-align: center;
  margin-bottom: 2em;
}


// Shelter List

.hero {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'bread.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  clear: left;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  // padding-bottom: 4em;
  margin-bottom: 2em;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          // max-width: 40%;
        }
      }
    }
  }
}

// RESPONSIVENESS
@media screen and (max-device-width: 500px) {
  form.new_user, p.desc, p.sign-up{
    width: 90%;
  }
}
