%footer.footer-2
  .centered-navigation-wrapper
    %ul.centered-navigation-menu
      %li
        %a{:href => "http://www.codefornashville.org/"} Created by:
      %li
        %a{:href => "http://www.codefornashville.org/"} Code for Nashville
